.home-axes-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Ajuste este valor conforme necessário */
  -webkit-box-orient: vertical;

  p {
    color: $white;
  }
}
