<div class="d-flex flex-wrap align-content-center flex-column">
    <div class="mt-5 mb-4 text-align-center w-50">
        <h1 class="text-black">Revolucione seu processo de vendas com as soluções Faros</h1>
        <p class="text-black">Mais do que uma ferramenta, o Faros é o caminho para otimizar suas vendas e melhorar seus resultados.</p>
    </div>
    <div class="d-flex gap-4 w-50 justify-content-center mb-5">
        <button class="btn btn-dark ps-5 pe-5 text-uppercase">Conheça a plataforma</button>
        <button class="btn btn-outline-light">Fale com um especialista</button>
    </div>
</div>