<div class="row">
  <div class="col-10">
    {{ header}}
  </div>
  <div class="col-2 my-4 d-flex justify-content-end align-items-center">
    {# <button type="button" class="btn btn-outline-primary rounded-circle me-3" id="prev-home-carousel">
      <span>&lt;</span>
    </button> #}
    {# <button type="button" class="btn btn-outline-primary rounded-circle" id="next-home-carousel">
      <span>&gt;</span>
    </button> #}
    <i class="iconmoon-circle-left" id="prev-home-carousel"></i>
    <i class="iconmoon-circle-right" id="next-home-carousel"></i>
  </div>
</div>
<div class="slick-carousel-blog">
  {{ rows }}
</div>
