includes:
  - phpstan-baseline.neon

parameters:
  level: 6
  checkMissingIterableValueType: false
  excludePaths:
    analyseAndScan:
      - src/Generators
      - src/ProxyClass
  ignoreErrors:
      -
        message: '#Plugin definitions cannot be altered\.#'
        path: src/HookEventPluginManager.php
